* {
    box-sizing: border-box;
    background-color: #2b124c;
    /*background-color: #000000;*/
}
.container {
    z-index: 500;
    position: relative;
}



.nav-left {
    color: #fbe4d8;
    z-index: 600;
    width: 6%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 30px;
    display: flex;
    position: fixed;
}
@media screen and (max-width: 991px){
.nav-left {
    width: 10%;
    padding-left: 6px;
}
}
@media screen and (max-width: 767px){
.nav-left {
    width: 100%;
    height: auto;
    flex-direction: row;
    padding-bottom: 0;
    padding-left: 0;
    position: static;
}
}
@media screen and (max-width: 479px){
.nav-left {
    padding-right: 7%;
}
}





.nav-left-item {
    flex: 0 auto;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 15px;
    transform: rotate(-90deg);
}
@media screen and (max-width: 767px){
.nav-left-item {
    margin-bottom: 0;
    transform: rotate(0);
}
}
@media screen and (max-width: 479px){
.nav-left-item {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
}




.nav-left-link {
    color: #fbe4d8;
    /*color: #ebe3b9;*/
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    border: 0 solid #000;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-weight: 500;
    text-decoration: none;
    transition: opacity .3s;
    display: block;
}
@media screen and (max-width: 991px){
.nav-left-link {
    font-size: 10px;
}
}
@media screen and (max-width: 479px){
.nav-left-link {
    font-size: 10px;
    display: inline-block;
}
}




.nav-line {
    color: #fbe4d8;
    width: 1px;
    height: 100px;
    background-color: #fbe4d8;
    margin-top: 10px;
    margin-bottom: 80px;
}
@media screen and (max-width: 767px){
.nav-line {
    width: 100px;
    height: 2px;
    margin-top: 0;
    margin-bottom: 0;

}
}
@media screen and (max-width: 479px){
.nav-line {
    color: #2b124c;
    /*background-color: #2b124c;*/
    width: 40px;
    margin-left: 7px;
    margin-right: 17px;
    padding-right: 0;
}
}





.nav-left-item.nav-copyright {
    width: 110px;
    position: absolute;
    top: auto;
    bottom: 3vh;
    left: -11%;
    right: 0%;
}
.nav-left-item {
    flex: 0 auto;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 15px;
    transform: rotate(-90deg);
}
@media screen and (max-width: 991px){
.nav-left-item.nav-copyright {
    left: -20%;
}}
@media screen and (max-width: 767px){
.nav-left-item.nav-copyright {
    flex: 1;
    position: static;
}}
@media screen and (max-width: 479px){
.nav-left-item.nav-copyright {
    padding-left: 0;
    padding-right: 0;
}}




@media screen and (max-width: 767px){
.nav-left-item {
    margin-bottom: 0;
    transform: rotate(0);
}}
@media screen and (max-width: 479px){
.nav-left-item {
    text-align: center;
    padding-left: 20px;
    padding-right: 10px;
}}




.copyright {
    color: #fbe4d8;
    width:250px;
    text-align: center;
    letter-spacing: 4px;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-weight: 500;
}
@media screen and (max-width: 991px){
.copyright {
    font-size: 10px;
}}
@media screen and (max-width: 767px){
.copyright {
    text-align: right;
    width: auto;
}}
@media screen and (max-width: 479px){
.copyright {
    text-align: right;
    width: auto;
}}



.nav-left-link:hover {
    text-decoration: line-through;
}



/*second part*/
.wrapper {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 5%;
    position: relative;
}
@media screen and (max-width: 991px){
.wrapper {
    max-width: 90%;
    padding-left: 10%;
}
}
@media screen and (max-width: 767px){
.wrapper {
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}
}
@media screen and (max-width: 479px){
.wrapper {
    padding-bottom: 10%;
    padding-left: 7%;
}
}






.section-left {
    width: 25%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    position: fixed;
}
@media screen and (max-width: 991px){
.section-left {
    width: 100%;
    height: auto;
    padding-top: 10%;
    position: static;
    padding-bottom: 10%;
}
}
@media screen and (max-width: 767px){
.section-left {
    padding-top: 10%;
}
}
@media screen and (max-width: 479px){
.section-left {
    padding-top: 7%;

}
}





.header-mask {
    color: #fbe4d8;
    /*color: #ebe3b9;*/
    margin-bottom: 2vh;
    padding-top: 5%;
    overflow: hidden;
}
@media screen and (max-width: 991px){
.header-mask {
    padding-top: 10%;
}
}
@media screen and (max-width: 479px){
.header-mask {
    margin-bottom: 1vh;
}
}


.header.header-large.align-left {
    text-align: left;
}

.header.header-large {
    text-align: center;
    letter-spacing: 0;
    text-transform: none;
    font-family: 'Noto Serif Display', serif;
    font-size: 13vw;
    font-weight: 300;
    line-height: 1em;
}
@media screen and (max-width: 991px){
.header.header-large {
    letter-spacing: 0;
    font-size: 13vw;
}}
@media screen and (max-width: 767px){
.header.header-large {
    letter-spacing: -3px;
    font-size: 17vw;
}}
@media screen and (max-width: 479px){
.header.header-large {
    letter-spacing: 0;
    font-size: 16vw;
}}




h1 {
    margin: 52px 0 35px;
    padding-bottom: 0;
    font-family: 'Noto Serif Display', serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 44px;
}



.description-mask {
    display: block;
    overflow: hidden;
}
.description {
    color: #fbe4d8;
    /*color: #ebe3b9;*/
    max-width: 80%;
    margin-left: 0;
    margin-right: 0;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.9em;
    position: relative;
}
@media screen and (max-width: 991px){
.description {
    max-width: 100%;
}}
@media screen and (max-width: 767px){
.description {
    font-size: 12px;
}}





p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
@media screen and (max-width: 991px){
p {
    max-width: 100%;
    margin-bottom: 20;
}
}
@media screen and (max-width: 767px){
p {
    font-size: 14px;
    margin-bottom: 20;
}
}




.link.is-pink:hover {
    border-bottom-style: none;
}
.link.is-pink {
    color: #fbe4d8;
    /*color: #ece7e1;*/
    border: 1px #c69e91;
    border-bottom: 1px solid #ece7e1;
}
a:hover {
    text-decoration: line-through;
}
a {
    text-decoration: none;
    transition: border-color .25s;
}


.section-right {
    width: 47%;
    height: 90vh;
    float: right;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    text-align: center;
    flex-direction: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    display: flex;
    position: relative;
    top: 0%;
    bottom: 0%;
    left: auto;
    right: 0%;
}
@media screen and (max-width: 991px){
.section-right {
    width: 100%;
    height: auto;
    padding-top: 0;
    display: block;
    padding-bottom: 10%;
    padding-left: 10%;
}
}
@media screen and (max-width: 767px){
.section-right {
    padding-top: 2vh;
    padding-left: 0%;
    right: 53%;
}
}
@media screen and (max-width: 479px){
.section-right {
    padding-top: 0;
}
}




/*contact*/
.container1 {
  width: 420px;
  height: 480px;
  display: flex;
  margin-top: 10px;
  margin-left: 35px;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 3px;
  background: #fbe4d8;
  /*background: #ebe3b9*/;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media screen and (max-width: 991px){
.container1 {
    padding-top: 0;
}}
@media screen and (max-width: 767px){
.container1{
    display: flex;
    left: 50%;
    position: relative;
    width: auto;
}}
@media screen and (max-width: 479px){
.container1 {
    padding-top: 0;
    width: auto;
    height: auto;
}}

.desc{
    background-color: #fbe4d8;
}

.container1 form .descr {
  font-size: 30px;
  font-weight: 500;
  color: #2b124c;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: center;
  background: #fbe4d8;
  /*background: #ebe3b9;*/
  font-family: 'Noto Serif Display', serif;

}/*
@media screen and (max-width: 991px){
.container form .descr{

}}
@media screen and (max-width: 767px){
.container form .descr{

}}
@media screen and (max-width: 479px){
.container form .descr{

}}*/



.form {
  display: flex;
  flex-direction: column;
  background: #fbe4d8;
  /*background: #ebe3b9;*/
}
.input{
    background: #fbe4d8;
    /*background: #ebe3b9;*/
    font-family: Montserrat, sans-serif;
}
/*
@media screen and (max-width: 991px){
.input{

}}
@media screen and (max-width: 767px){
.input{

}}
@media screen and (max-width: 479px){
.input{

}}*/

.input, textarea {
    background: #fbe4d8;
  margin: 1em 0 1em 0;
  width: 300px;
  position: relative;
}

.input input, textarea {
  font-size: 100%;
  padding: 0.7em;
  outline: none;
  color: #2b124c;
  border: none;
  border-bottom: 1.5px solid #2b124c;
  background: #fbe4d8;
  /*background: #ebe3b9;*/
  border-radius: none;
  width: 100%;
  resize: none;
}
@media screen and (max-width: 479px){
.input input, textarea{
    width: 80%;

}}



.input label {
  font-size: 100%;
  position: absolute;
  left: 0;
  color: #2b124c;
  padding: 0.5em;
  margin-left: 0.1em;
  pointer-events: none;
  transition: all 0.5s ease;
  text-transform: uppercase;
  background: #fbe4d8;
  /*background: #ebe3b9;*/
}
@media screen and (max-width: 479px){
.input label{
    font-size: 95%;
    padding-left: 10%;
}}




.input :is(input:focus, input:valid)~label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  padding: 0.4em;
}

.input textarea:focus ~ label,
.input textarea:valid ~ label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  padding: 0.4em;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(37, 37, 211);
}

.form button {
    color: #ece7e1;
    letter-spacing: 1px;
    background-color: #2b124c;
    /*background-color: #1a1818;*/
    border-radius: 50px;
    padding: 20px 10px;
    font-family: 'Noto Serif Display', serif;
    font-size: 15px;
    font-weight: 400;
    transition: padding .25s ease-in-out;
    text-decoration: none;
}
@media screen and (max-width: 479px){
.form button{
    margin-right: 10%;
    margin-left: 10%;
    font-size: 17px;
}}



.form button:hover {
    padding-left: 100px;
    padding-right: 100px;
    text-decoration: none;
    cursor: pointer;
}



.form w-button {
    line-height: inherit;
    cursor: pointer;
    border: 0;
    display: inline-block;
}

